.header {
    text-align: center;
}

.content {
   display:block; 
   margin: 0 auto;
    
    padding:10px;
    
    
}

button{
    margin:7px;
    font-weight: bold;
    color:white;
    background-color: black;
    border: 2px solid rgb(00,00,00,0.20);
    border-radius: 10px;
}
.gridContainer {
    margin: auto;
    border: 5px solid black;
    border-radius: 6px;
    width: 500px;
    height: 500px;
    display:grid;
       
}

.black {
    background-color: black;
}